Perfmon/PerfmonClient/Service References/PerfmonService/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Perfmon" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Perfmon" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Perfmon/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Perfmon/?xsd=xsd0" namespace="http://Perfmon" />
      <xsd:import schemaLocation="http://localhost:8080/Perfmon/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Perfmon/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/PerfmonServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPerfmonService_Notify_InputMessage">
    <wsdl:part name="parameters" element="tns:Notify" />
  </wsdl:message>
  <wsdl:message name="IPerfmonService_Notify_OutputMessage">
    <wsdl:part name="parameters" element="tns:NotifyResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfmonService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPerfmonService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfmonService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IPerfmonService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPerfmonService_OnNotify_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnNotify" />
  </wsdl:message>
  <wsdl:portType name="IPerfmonService">
    <wsdl:operation name="Notify">
      <wsdl:input wsaw:Action="http://Perfmon/IPerfmonService/Notify" message="tns:IPerfmonService_Notify_InputMessage" />
      <wsdl:output wsaw:Action="http://Perfmon/IPerfmonService/NotifyResponse" message="tns:IPerfmonService_Notify_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://Perfmon/IPerfmonService/Subscribe" message="tns:IPerfmonService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://Perfmon/IPerfmonService/SubscribeResponse" message="tns:IPerfmonService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://Perfmon/IPerfmonService/Unsubscribe" message="tns:IPerfmonService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://Perfmon/IPerfmonService/UnsubscribeResponse" message="tns:IPerfmonService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OnNotify">
      <wsdl:output wsaw:Action="http://Perfmon/IPerfmonService/OnNotify" message="tns:IPerfmonService_OnNotify_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>